@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8f8f8;
}

#root,
body,
html {
  @apply h-full;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

/* carousel */
.carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
  top: 50% !important;
  bottom: auto !important;
  background-color: black !important;
}
